<!--
We have a lot of duplicated code with ComposeButton.html
This is because they were once the same button on the Home TL
Even though code is currently duplicated, it allows us to make this
into something very different in the future
-->
<div class="compose-box-button-sentinel" ref:sentinel></div>
<div class="compose-box-button-wrapper compose-box-button-sticky"
     ref:wrapper >
  <div class="compose-box-button-halo compose-box-button-halo-sticky">
  <button class="primary compose-box-button"
          aria-label={intl.composeStatus}
          on:click="onClickButton()">
    <span class="hidden">
      <!--
      This span gives me the same size as the Post button in the compose field
      -->
      {intl.postStatus}
    </span>

    <div class="compose-box-button-compose"
         aria-hidden="true">
      <SvgIcon className="compose-box-button-svg"
               href="#fa-pencil" />
    </div>
  </button>
  </div>
</div>
<style>
  .compose-box-button-wrapper {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
  }
  .compose-box-button-halo {
    border-radius: 2px;
    margin: 5px 15px 15px 5px;
    pointer-events: auto;
  }
  .compose-box-button-halo-sticky {
    background-color: var(--compose-button-halo);
  }
  .compose-box-button {
    grid-area: button;
    justify-self: right;
    text-transform: uppercase;
    position: relative;
    margin: 5px;
    pointer-events: auto;
  }
  .compose-box-button-compose {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  :global(.compose-box-button-svg) {
    width: 24px;
    height: 24px;
    fill: var(--button-primary-text);
  }

  @media (max-width: 767px) {
    .compose-box-button-halo {
      margin: 5px;
    }
    .compose-box-button {
      margin: 5px;
    }
  }
  .compose-box-button-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
  :global(.compose-box-button-sticky) {
    z-index: 5000;
    top: calc(var(--nav-total-height));
  }
</style>
<script>
  import SvgIcon from '../SvgIcon.html'
  import { store } from '../../_store/store.js'
  import { importShowComposeDialog } from '../dialog/asyncDialogs/importShowComposeDialog.js'
  import { observe } from 'svelte-extras'

  export default {
    oncreate () {
      this.setupIntersectionObservers()
    },
    ondestroy () {
      this.teardownIntersectionObservers()
    },
    store: () => store,
    data: () => ({
      sticky: true
    }),
    computed: {
      timelineInitialized: ({ $timelineInitialized }) => $timelineInitialized
    },
    methods: {
      observe,
      onClickButton () {
        this.showDialog()
      },
      async showDialog () {
        (await importShowComposeDialog())()
      },
      setupIntersectionObservers () {
        const sentinel = this.refs.sentinel

        this.__stickyObserver = new IntersectionObserver(entries => this.onObserve(entries))
        this.__stickyObserver.observe(sentinel)

        // also create a one-shot observer for the $timelineInitialized event,
        // due to a bug in Firefox where when the scrollTop is set
        // manually, the other observer doesn't necessarily fire
        this.observe('timelineInitialized', timelineInitialized => {
          if (timelineInitialized && !this.__oneShotObserver) {
            this.__oneShotObserver = new IntersectionObserver(entries => {
              this.onObserve(entries)
              this.__oneShotObserver.disconnect()
              this.__oneShotObserver = null
            })
            this.__oneShotObserver.observe(sentinel)
          }
        }, { init: false })
      },
      teardownIntersectionObservers () {
        if (this.__stickyObserver) {
          this.__stickyObserver.disconnect()
          this.__stickyObserver = null
        }
        if (this.__oneShotObserver) {
          this.__oneShotObserver.disconnect()
          this.__oneShotObserver = null
        }
      }
    },
    components: {
      SvgIcon
    }
  }
</script>
